@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 100vh;
}

nav.-active{
  @media (max-width: 768px) {
    display: block;
  }
}

.nav-item{
  &:after{
    opacity: 0;
    pointer-events: none;
  }
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.x-centered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.y-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.box-shadow{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.mobile-toggle-btn{
  span{
    transition: all .3s;
    &:nth-child(1){
      top: 0;
      transform: translateY(0%);
    }
    &:nth-child(2){
      top: 50%;
      transform: translateY(-50%);
    }
    &:nth-child(3){
      top: 100%;
      transform: translateY(-100%);
    }
  }
  &.-active{
    span{
      &:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      &:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
      }
      &:nth-child(3){
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}